$color-primary-dark: #282828;
$color-white45: rgba(255, 255, 255, 0.45);
$color-white20: rgba(255, 255, 255, 0.2);
$color-white10: rgba(255, 255, 255, 0.1);
$color-white: white;
$color-black: #293148;
$color-half-black: rgba($color-black, 0.6);
$color-dark-grey: rgba($color-black, 0.8);
$color-mystery-numbers-gray: #EDEDED;
$color-primary-light-gray: #F3F6F8;
$color-text-light-gray: rgba($color-black, 0.45);
$color-text-light-gray-disabled: rgba($color-black, 0.30);
$color-line-gray: #E4E4E4;
$color-primary-red: #D90E32;
$color-primary-red-hover: rgba($color-primary-red, 0.85);
$color-green-back: #E4F5DD;

$color-secondary-light-red: #E86E84;

$color-green: #7FC75E;
