@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "./typography";
@import "./colors.scss";
@import "./leftColumn";
@import "./rightColumn";

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  margin: 10px;
  box-sizing: border-box;
  //height: 1386px;
  min-height: calc(100vh - 20px);
}

.container {
  width: 1440px;
  height: 100%;
  background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}