.font-navigation {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500; /*medium*/
  font-size: 16px;
  line-height: 20px;
}

.font-h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700; /* bold */
  font-size: 32px;
  line-height: 38px;
}

.font-text3 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500; /*medium*/
  font-size: 15px;
  line-height: 22px;
}

.font-text4 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.font-body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400; /* regular */
  font-size: 16px;
  line-height: 22px;
}

.font-button2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700; /* bold */
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.font-car-name {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700; /* bold */
  font-size: 20px;
  line-height: 22px;
}

.font-car-mystery-numbers {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700; /* bold */
  font-size: 15px;
  line-height: 22px;
}

.font-car-vin {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.font-day-left {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500; /*medium*/
  font-size: 15px;
  line-height: 16px;
}